// COLOR VARIABLES
$color-dark-grey: #444444;
$color-dark-green: #5c9f24;
$color-light-green: #74c92d;
$color-white: #fff;

// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-display: 'Poppins', sans-serif;
